<!-- -*- mode: XML -*- -->
<launch>

  <!-- Debug Arguments -->  
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Launch visualizer -->  
  <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" 
	respawn="false" output="screen" args="-d $(find ompl_visual_tools)/launch/ompl_rviz.rviz" />

  <!-- Publish dummy transform to prevent rviz 'Global Status: Warn' -->  
  <node pkg="tf" type="static_transform_publisher" name="tf_publisher_dummy" args="0 0 0 0 0 0 /world /base 1" />

</launch>
